extends layout

block content
  h1.title Enigma 2017
  .card.question-card
    if error
      p.error= error
    p
      span.userLevel Level #{currentUser.level}:
      if isOver
        <img src="https://imgflip.com/i/1swb24" alt="Tum jeet gayye!" max-width="100%">
      else
      span.question #{question}
    if !isOver
      form(method='post', action='play')
        input(type='text', placeholder='Press enter to submit', name='answer', maxlength='30', required)
